# Boilerplate

In [37]:
import pandas as pd 
import pandasql as ps
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns
import scipy.stats as stats
import statsmodels.stats.api as sms

from IPython.display import display
from IPython.display import Markdown as md
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

def f():
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_rows', None)
    
def nf():
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_rows', 4)

import warnings
warnings.filterwarnings('ignore')

def dp(df, r = 5, c = None):
    from IPython.display import display
    with pd.option_context('display.max_rows', 4, 'display.max_columns', None):
        display(df)

def fg(w = 6, h = 4, dpi = 120):
    plt.rcParams['figure.figsize'] = (w,h)
    plt.rcParams['figure.dpi'] = dpi
fg()

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Create sample

In [53]:
import random 
import string

# random sample selection

In [76]:
# letters = string.ascii_uppercasedfall = df
letters = string.ascii_uppercase[:10]

df = pd.DataFrame()
_len = 1000
for i in range(5):
    df[f'Q{i}'] = [''.join(random.choice(letters) for _ in range(1)) for _ in range(_len)]

# init
n_clu = 3
_cho = random.sample(df.index.to_list(),n_clu)

dfcho = df[df.index.isin(_cho)].reset_index(drop = True)

dforig = df.copy()
df = dforig.copy()

# To store every output of clusters
dfall = pd.DataFrame()
 
# compute difference thorught loopings
difflist = []

# to receive buckets of similarities
bucketlist = []

# Looping
# Compute distances
for _ in range(5):
    # restart df
    df = dforig.copy()
    # computacao ineficient O(n²) ou mais
    print('cluster dataframe')
    dfcho
    for idx in df.index:
        for clu in dfcho.index:
            df.loc[idx,f'C{clu}'] = sum(dforig.iloc[idx,:] == dfcho.iloc[clu,:])
            
    # Minimum distances to clusters
    dfclosest = df.select_dtypes(include = [float]).idxmin(axis = 1)

    closest = 'closest'
    df[closest] = dfclosest

    clusters = df.select_dtypes(include = [float]).columns

    # for clu in clusters:
    #     df[df.closest == clu]

    # Return mode

    _dforig = dforig.copy()
    _dforig[closest] = df[closest]

    del dfmode
    dfmode = pd.DataFrame()
    for clu in clusters:
        dfmode = dfmode.append(_dforig[_dforig.closest == clu].mode(axis = 0).iloc[0,:])
#         print('loop dfmode')
#         dfmode

    # new clusters
    dfmode = dfmode.drop(closest, axis = 1)
    
#     print('Clusters found')
#     dfmode
    
    del dfcho
    dfcho = dfmode.copy().reset_index(drop = True)
    
    dfall = dfall.append(dfcho)
    
    # Compute similarities
    for clu in dfcho.index:
        buckets[f'C{clu}'] = dfclosest[dfclosest.cluster == f'C{clu}'].index.to_list()
    bucketlist.append(buckets)
    
    diff = 0
    for clu in dfcho.index:
        _clu = f'C{clu}'
    diff += len(set(bucketlist[0].get(_clu))^set(bucketlist[1].get(_clu)))
    
    difflist.append(diff)

cluster dataframe

  Q0 Q1 Q2 Q3 Q4
0  E  G  E  C  B
1  B  B  G  J  G
2  I  C  D  C  G

cluster dataframe

  Q0 Q1 Q2 Q3 Q4
0  D  H  G  J  E
1  E  G  E  C  B
2  B  B  G  J  B

cluster dataframe

  Q0 Q1 Q2 Q3 Q4
0  I  G  E  F  B
1  D  H  G  J  E
2  D  H  E  C  E

cluster dataframe

  Q0 Q1 Q2 Q3 Q4
0  D  H  G  A  E
1  I  G  E  F  B
2  I  G  G  J  B

cluster dataframe

  Q0 Q1 Q2 Q3 Q4
0  I  G  J  F  B
1  D  H  G  A  E
2  D  H  E  F  E

In [91]:
dfclosest = dfclosest.to_frame().rename(columns = {0:'cluster'})

In [92]:
dfclosest

    cluster
0        C0
1        C0
2        C0
3        C1
4        C1
..      ...
995      C0
996      C1
997      C0
998      C0
999      C0

[1000 rows x 1 columns]

In [108]:
bucketlist = []

In [122]:
buckets = {}
for clu in dfcho.index:
    buckets[f'C{clu}'] = dfclosest[dfclosest.cluster == f'C{clu}'].index.to_list()
bucketlist.append(buckets)

# Compare buckets in bucketlist

In [135]:

for clu in dfcho.index:
    _clu = f'C{clu}'
    diff += len(set(bucketlist[0].get(_clu))^set(bucketlist[1].get(_clu)))

In [101]:
dfcountpd.DataFrame()

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [100]:
len(a)

NameError: name 'a' is not defined